<!-- index.html -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>STREAMING</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h3 class="mt-5">Live Streaming</h3>
          <img src="{{ url_for('stream') }}" width="100%" />
          <!--<script>
            setInterval(updateTranscript, 1000);
          </script>-->
          <!-- URL이랑 flask router 함수랑 똑같게 해야함 -->
        </div>
      </div>
    </div>
    <div id="speechContainer">
      <!--<h1>Live Subtitle</h1>
      <form method="post" enctype="multipart/form-data">
        <br />
      </form>
-->
      <div id="speechTranscriptContainer">
        <h1>Transcript</h1>
        <p id="speechText"></p>
      </div>
    </div>

    <!--
    <div id="speechContainer">
      <h1>Say something!</h1>
      <form method="post" enctype="multipart/form-data">
        <br />
      </form>

      {% if transcript != "" %}
      <div id="speechTranscriptContainer">
        <h1>Transcript</h1>
        <p id="speechText">{{ transcript }}</p>
      </div>
      {% endif %}
    </div>-->

    <script>
      function updateTranscript() {
        fetch("/transcript")
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("speechText").innerText = data;
          })
          .catch((error) => console.error("Error:", error));
      }

      // Update transcript every 1 second (adjust as needed)
      // 코드는 1초 간격으로 get 메서드를 사용하여 레이블을 업데이트
      setInterval(updateTranscript, 1000);
    </script>
  </body>
</html>
